.card{
    background: #fbfbfb;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    padding: 16px;
    /* width: 100%; */
    min-width: 480px;
    margin-bottom: 16px;
    position: relative;
}
.cross{
    position: absolute;
    z-index: 10;
    background: #FF0000;
    border-radius: 100px;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cross img{
    width: 8px;
    height: 8px;
}
.img_cont{
    position: relative;
    margin-right: 16px;
}
.desc_cont{
    /* border: 2px solid red; */
    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.prod_img{
    width: 80px;
    height: 80px;
    border-radius: 4px;
}
.prod_quant{
    width: 16px;
    height: 16px;
    background: #212121;
    border-radius: 100px;

    position: absolute;
    top: -10%;
    right: -10%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 10px;
}
.name{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #242424;
}
.price{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #242424;
}
.color{
        font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #787878;
}
.attrs{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.1px;
    color: #212121;
    margin-right: 16px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.attrs img{
    margin-right: 8px;
}
.flex_horizontal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.flex_horizontal_left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* width: 100%; */
    /* border: 2px solid blue; */
}
.flex_vert{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 1200px){
    .card{
        min-width:100%;
        width: 100%;
    }
    
}
@media (max-width: 769px){
    .desc_cont{
        height: 70px;
    }
    .PathCont span{
        font-size: 12px;
    }
    .name{
        font-size: 14px;
    }
    .price{
        font-size: 14px;
    }
    /* .prod_img{
        width: 80px;
        height: 80px;
    } */
    .attrs{
        font-size: 12px;
        margin-right: 8px;
    }
    .flex_horizontal_left img{
        width: 14px;
        /* margin-right: 1; */
        /* height: 10px; */
    }
    .attrs img{
        margin-right: 2px;
    }
}
@media screen and (max-width: 576px){
    .card{
        padding: 8px;
    }
    .prod_img{
        width: 60px;
        height: 60px;
        border-radius: 4px;
    }
    .img_cont{
        margin-right: 10px;
    }
    /* .name{
        font-size: 12px;
    } */
    .price{
        font-size: 12px;
    }
    .attrs{
        font-size: 10px;
        margin-right: 8px;
    }
}