.PathCont span{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #212121;
}
.PathCont img{
    width: 24px;
    height: 24px;
}
.PathCont img,
.PathCont span{
    margin-right: 14px;

}
.PathCont{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 24px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.PathCont .Selected{
    font-weight: 600;
}
@media (max-width: 769px){
    .PathCont span{
        font-size: 12px;
    }
}
@media screen and (max-width: 576px){
  
    .PathCont img,
    .PathCont span{
         margin-right: 0px;

    }
    .PathCont{
        margin-top: 40px;
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 410px) {
    .PathCont span{
        font-size: 10px;
    }
}