.title{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #242424;
    text-align: center;
}
.CardWrap{
    /* border: 2px solid black; */
    margin-top: 24px;
    width: 100%;
}
.Cartcard{
        width: 100%;
}
.total{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #242424;    
    margin-top: 24px;

    background: #FBFBFB;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 16px;
}
.Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    background: #FBFBFB;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    width: 100%;
    margin-top: 8px;
}
.OuterCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.02);
    border-radius: 8px 0px 8px 8px;
    margin: auto 0;

    margin-bottom: 30px;
    /* border: 2px solid red; */
}
.PaymentTotalOrder{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #242424;
    margin-bottom: 16px;
}
.Charges{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #787878;
}
.Total{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #242424;
}
@media (max-width: 1500px){
    
    .CardWrap{
        /* border: 2px solid black; */
        /* margin-top: 24px; */
        width: 100%;
    }
}
@media (max-width: 769px){
    .title{
        font-size: 16px;
    }
}
@media screen and (max-width: 576px){
    .PaymentTotalOrder{
        font-size: 12px;
        margin-bottom: 8px;
    }
    .Total{
        font-size: 14px;
    }
    .Charges{
        font-size: 10px;
    }
}