.layout{
    padding: 40px 0;
    margin: 0 auto;
    display: grid;
    /* grid-template-rows: repeat(4,1fr); */
    grid-template-columns: repeat(4,1fr);
    row-gap: 40px;
    column-gap: 30px;
    /* align-items: start */
}
.card{
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
    width: fit-content;
}
.BanClass{
    grid-column-start: 1;
    grid-column-end: 5;
}
.twoCols{
    grid-column-start: 1;
    grid-column-end: 3;
}
.class{
    align-self:flex-start;
}
.class2{
    align-self: flex-end;
    height: 100%;
}

.btnFont{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #212121;
    padding: 6px 8px;
    border: none;
    background-color: #FFFFFF;
}
.btn{
    width: 32px;
    height: 32px;
    background: #EEEEEE;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    border: none;
}
.leftBtnImg{
    height: 7px;
    width: 7px;
    transform:rotateY(180deg);
}
.rightBtnImg{
    height: 7px;
    width: 7px;
}
.btnWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}
.active{
    background: #FAFAFA;
    border: 1px solid #212121;
    border-radius: 4px;
    padding: 7px 7px;
    gap: 8px;
    
}
.leftBtn{
    margin-right: 8px;
}
.rightBtn{
    margin-left: 8px;
}