.btn{
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    border-radius: 100px;
    padding: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    
    /* font-size: 12px; */
    font-size: clamp(8px, 0.9vw, 12px);;
    letter-spacing: -0.05px;
    color: #212121;

}
@media screen and (max-width: 1500px) {
    .btn{
        padding: 5px;
    }
}
@media screen and (max-width: 1200px) {
    .btn{
        /* padding: 0px; */
        font-size: 8px;
        height: auto;
    }
}
@media screen and (max-width: 900px) {
    .btn{
        height: auto;
    }
}
@media screen and (max-width: 576px) {
    .btn{
        font-size: 6px;
        letter-spacing: 0;
        /* padding: 3px; */
    }
}
