.btn{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #212121;
    border: none;
    width: 65px;
    height: 27px;
    border-right: 1px solid #E0E0E0;
    background-color: #fff;
    /* margin: 5px 0px; */
    height: 35px;
}
.btn:last-child{
    border-right: none;
}
.cont{
    border: 1px solid #E0E0E0;
    width: fit-content;
    border-radius: 4px;
}
.highlight{
    background: #F5F5F5;
    border: 1px solid #616161 !important;
}