.button {
    background: #242424;
    border-radius: 4px;
    border: none;
    /* text-decoration: none; */
}
.button:hover{
    box-shadow: -2px 2px 2px #999;
    background: #242424d8;
}
.button{
    text-decoration: none;
}
  