.toogleBtn{
    width: 100%;
    max-width: 170px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 10px;
    gap: 8px;
    background: #F5F5F5;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    cursor: pointer;
    user-select: none; /* Standard syntax */
}

.text{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #1D1D1D;
    cursor: pointer;
}
.layout{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inp{
    border: none;
    margin-left: 30px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #757575;
    width: 90%;
    /* border: 2px solid red; */
    height: 100%;
}
.inp:focus{
    outline-width: 0;
}
.cont{
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    max-width: 440px;
    width: 100%;
    position: relative;
    /* border: 2px solid blue; */
    margin-top: 32px;
    margin-bottom: 32px;
}
.search{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0,-50%);
    /* border: 2px solid black; */
}
@media (max-width: 820px){
    .cont{
        padding: 8px 16px;
        max-width: 260px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;

    }
    .search{
        left: 10px;
        width: 10px;
        height: 10px;
    }
    .inp{
        margin-left: 10px;
        font-size: 10px;
        /* border: 2px solid red; */
    }
}