.Body{
    background-color:#BCBCBC;
}
.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#FFF;
}
.Logo{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #242424;
}
.Logo span{
    color: #CD1315;
}
.Links{
    border: 2px solid red;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 470px;
    min-width: 400px;

    
}
.Links li{
    list-style: none;
}
.Links li a{
    text-decoration: none;
    color: #757575;
    /* margin-right: 10px; */
}
.BtnContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.BtnDesign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: none;
}
.BtnFont{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #212121;
}
.LoginBtn{
    background-color: #fff;
}
.SignupBtn{
    background: #212121;
    color: white;
}
.Hero{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* max-width: 1650px; */
    /* margin: auto; */
    /* padding-top: 250px; */
    height: 100vh;
}
.Hero .Title{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 150%;
    color: #242424;
    margin-bottom: 12px;
}
.Hero .Title span{
    text-decoration-line: underline;
}
.dot{
    text-decoration-line: none !important;
    color: #CD1315;
}
.Hero .Left{
max-width: 600px;
border: 2px solid black;
}
.Hero .desc{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #787878;
    margin-bottom: 30px;
}
.Hero .GetStarted{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;

    width: 50%;
    max-width: 250px;
    /* max-width: ; */
    height: 50px;

    background: #212121;
    border-radius: 4px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.Hero .GetStarted .text{
    margin-right: 10px;
}
.Hero .GetStarted img{
    width: 18px;
    height: 16px;
}
.Hero .Right{
    border: 3px solid green;
    position: relative;
}
.Hero .Right img{
    width: 300px;
}
.Hero .buff1{
    border: 2px solid blue;
    flex: 1 1.5 20em
}
.Hero .buff{
    border: 2px solid blue;
    flex: 2 2 20em
}
.Hero .rightImg{
    position: absolute;
    width: 150px !important;
    height: auto;
    /* border: 2px solid red; */
    top: 0;
    right: 0;
    transform: translate(87%,-35%);
}
.Hero .leftImg{
    position: absolute;
    width: 130px !important;
    height: auto;
    left: 0;
    top: 100%;
    transform: translate(-85%,-80%);
}
.Hero .you{
    position: absolute;
    width: 210px !important;
    height: auto;
    left: 0;
    bottom: 0;
    transform: translate(-28%,65%);
}
.cont{
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1650px;
    margin: auto;
}