.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#FFF;
}
.Logo{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #242424;
}
.Logo span{
    color: #CD1315;
}
.Links{
    /* border: 2px solid red; */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 470px;
    min-width: 400px;

    
}
.Links li{
    list-style: none;
}
.Links li a{
    text-decoration: none;
    color: #757575;
    /* margin-right: 10px; */
}
.BtnContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.BtnDesign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: none;
}
.BtnFont{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #212121;
}
.LoginBtn{
    background-color: #fff;
}
.SignupBtn{
    background: #212121;
    color: white;
}
.Hero{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* max-width: 1650px; */
    /* margin: auto; */
    /* padding-top: 250px; */
    min-height: 1000px;
    height: 80vh;
    max-height: 1200px;
    padding-bottom: 200px;
    margin-top: 50px;
    background-color:#fcfcfc;

}
.Hero .Title{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 150%;
    color: #242424;
    margin-bottom: 12px;
}
.Hero .Title span{
    text-decoration-line: underline;
}
.dot{
    text-decoration-line: none !important;
    color: #CD1315;
}
.Hero .Left{
max-width: 600px;
/* border: 2px solid black; */
}
.Hero .desc{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #787878;
    margin-bottom: 30px;
}
.Hero .GetStarted{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;

    width: 50%;
    max-width: 250px;
    /* max-width: ; */
    height: 50px;

    background: #212121;
    border-radius: 4px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.Hero .GetStarted .text{
    margin-right: 10px;
}
.Hero .GetStarted img{
    width: 18px;
    height: 16px;
}
.Hero .Right{
    /* border: 3px solid green; */
    position: relative;
}
.Hero .Right img{
    width: 400px;
}
.Hero .buff1{
    /* border: 2px solid blue; */
    flex: 1 1.5 20em
}
.Hero .buff{
    /* border: 2px solid blue; */
    flex: 2 2 20em
}
.Hero .rightImg{
    position: absolute;
    width: 210px !important;
    height: auto;
    /* border: 2px solid red; */
    top: 0;
    right: 0;
}
.Hero .leftImg{
    position: absolute;
    width: 180px !important;
    height: auto;
    left: 0;
    top: 100%;
}
.Hero .you{
    position: absolute;
    width: 290px !important;
    height: auto;
    left: 0;
    bottom: 0;
}
@keyframes slide-in-animation-you {
    0% {
        opacity: 0;
        transform: translatey(200%);
    }
    100% {
        opacity: 1;
        transform: translate(-28%,69%);
    }
}
@keyframes slide-in-animation-left {
    0% {
        opacity: 0;
        transform: translateX(-200%);
    }
    100% {
        opacity: 1;
        transform: translate(-85%,-80%);

    }
}
@keyframes slide-in-animation-right {
    0% {
        opacity: 0;
        transform: translateX(200%);
    }
    100% {
        opacity: 1;
        transform: translate(87%,-35%);
    }
}
@keyframes fade-in-animation {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
.cont{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1650px;
    margin: auto;
    height: 100%;
}
.Delcont{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1650px;
    margin: auto;
    height: 100%;
}
.Delivered{
    min-height: 1000px;
    height: 80vh;
    max-height: 1200px;

    margin-top: 100px;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    

}
.DelLeft{
    /* border: 2px solid blue; */
    max-width: 620px;
}
.DelRight{
    /* border: 2px solid cyan; */
    position: relative;
    flex-basis: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.DelTitle{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #242424;
}
.DelDesc{ 
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #787878;
}
.party{
    left: 0;
    bottom: 0;
    transform: translate(25%,-100%);
}
.heart{
    left: 0;
    bottom: 0;
    transform: translate(125%,-200%);
}
.wedding{
    left: 0;
    bottom: 0;
    transform: translate(225%,-300%);
}
.Party{
    left: 0;
    bottom: 0;
    transform: translate(325%,-200%);
}
.Cake{
    left: 0;
    bottom: 0;
    transform: translate(325%,-100%);
}

.Work{

    min-height: 1000px;
    /* height: 80vh;
    max-height: 1200px; */

    margin-top: 150px;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.workStatement{
    margin-bottom: 50px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #242424;
}
.WorkCont{
    /* border: 2px solid red; */
    width: 100%;
    max-width: 1650px;
    margin: auto;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 100px;
    margin-bottom: 100px;
}
.PerfGiftText{
    grid-column-start: 1;
    grid-column-end: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.WrapitText{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: #FCFCFC;
    border-radius: 100px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #242424;
}
.WorkTitle{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #242424;
}
.WorkDesc{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #787878;
}
.TextWrap{
    max-width: 380px;

}
.PerfGiftImg{
    width: 100%;
    height: 100%;
}
.PerfGiftImg img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}
.Text__Wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 450px;
}
.Work__Title{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #242424;
    text-align: center;
}

.Work__Desc{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #787878;
    text-align: center;
}

.WorkButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;

    width: 287px;
    height: 56px;
    background: #212121;
    border-radius: 4px;
    color: #FFF;
}
.bottomWrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer{
    margin-top: 400px;
    background-color:#fcfcfc;
    height: 400px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_desc{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #242424;

    margin-top: 16px;
}
.underline{
    text-decoration-line: underline;
}
.DelCardColorWhite{
    background-color: #FFFFFF;
}
.DelCardColorBlack{
    background-color: #242424;
}
.DelCardColorGrey{
    background-color: #FCFCFC;
}
.DelCardFontBlack{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;

    /* Coal */

    color: #242424;
}
.DelCardFontWhite{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;

    /* Coal */

    color: #FFFFFF;
}
.fadein {
    opacity: 0;
    animation: fade-in-animation 1s ease forwards;
}
.slideinright {
    opacity: 0;
    /* transform: translateX(-100%); */
    animation: slide-in-animation-right 2s ease forwards;
}
.slideinleft {
    opacity: 0;
    /* transform: translateX(-100%); */
    animation: 2s slide-in-animation-left 0.5s ease forwards;
}
.slideinyou {
    opacity: 0;
    /* transform: translateX(-100%); */
    animation: 3s slide-in-animation-you 0.5s ease forwards;
}


@media screen and (max-width: 1500px) {
    .Delcont{
      flex-direction: column;
      /* border: 2px solid red; */
    }
    .DelLeft{
        /* border: 2px solid blue; */
        max-width: 620px;
        text-align: center;
    }
    .DelRight{
        margin-top: 30px;
        /* border: 2px solid cyan; */
        
        flex-basis: 100%;
       
    
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        width: 70%;

        gap: 50px;
        /* wid */
        
    }
    .DelCardFontBlack{
        font-size: 26px;
    }
    .DelCardFontWhite{
        font-size: 26px;
    }
    .party{
        transform: none;
        display: none;
    }
    .heart{
        transform: none;
    }
    .wedding{
        transform: none;
    }
    .Party{
        transform: none;
    }
    .Cake{
        transform: none;
    }
    .Hero .Right img{
        width: 330px;
    }
    .Hero .rightImg{
        position: absolute;
        width: 140px !important;
        height: auto;
        /* border: 2px solid red; */
        top: 0;
        right: 0;
    }
    .Hero .leftImg{
        position: absolute;
        width: 120px !important;
        height: auto;
        left: 0;
        top: 100%;
    }
    .Hero .you{
        position: absolute;
        width: 220px !important;
        height: auto;
        left: 0;
        bottom: 0;
    }
    .Hero .Title{
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 150%;
        color: #242424;
        margin-bottom: 12px;
    }
}
@media screen and (max-width: 1200px) {
    .cont{
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1650px;
        margin: auto;
        height: 100%;
    }
    .Hero{
        /* border: 2px solid red; */
        padding-top: 100px;
        justify-content:center;
        /* min-height: 800px; */
    }
    .Hero .Title{
        text-align: center;
    }
    .Hero .GetStarted{
        margin: auto;
        margin-bottom: 50px;
    }
    .Hero .desc{
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 200%;
        color: #787878;
        margin-bottom: 30px;
        text-align: center;
    }
    
}
@media (max-width: 769px){
    .Hero{
        margin-top: 20px;
    }
    .Hero .Title{
        margin-bottom: 0;
    }
    .Hero .desc{
        margin-bottom: 10px;
    }
    .Hero .GetStarted{
        margin: auto;
        margin-bottom: 100px;
    }
    .Logo{
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        color: #242424;
    }
    .Links{
        font-size: 12px;
        width: 50%;
        min-width: 293px;
        /* max-width:; */
        /* border: 2px solid red; */
        justify-content: space-between;
    }
    .BtnDesign{
        width: 60px;
    }
    .BtnFont{
        font-size: 12px;
    }
    .circle{
        width: 50px;
        height: 50px;
    }
    .WorkCont{
        column-gap: 20px;
        row-gap: 50px;
        margin-bottom: 50px;
    }
    .WorkTitle, .Work__Title{
        font-size: 16px;
    }
    .WorkDesc, .Work__Desc{
        font-size: 12px;
    }
    .three{
        max-width: 360px;
    }
    .footer{
        margin-top: 100px;
        height: 200px;
    }

    .Hero .Right img{
        width: 300px;
    }
    .Hero .rightImg{
        width: 120px !important;
    }
    .Hero .leftImg{
        width: 100px !important;
    }
    .Hero .you{
        width: 200px !important;
    }
}
@media screen and (max-width: 576px) {
    .Links{
        /* border: 2px solid red; */
        display: none;
    }
    .Hero{
        /* border: 2px solid black; */
        min-height: 800px;
        height: 80vh;
        max-height: 1000px;
        /* height: 100vh; */
    }
    .cont{
        /* border: 2px solid red; */
        width: 90%;
        /* height: 100% !important; */
    }
    .Hero .Title{
        font-size: 36px;
    }
    .Hero .desc{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .Hero .Right img{
        width: 200px;
    }
    .Hero .rightImg{
        width: 70px !important;
    }
    .Hero .leftImg{
        width: 70px !important;
    }
    .Hero .you{
        width: 120px !important;
    }
    .Hero .GetStarted{
        margin-bottom: 50px;
    }
    .DelTitle,.workStatement{
        font-size: 36px;
    }
    .DelDesc{
        font-size: 14px;
    }
    .DelCardFontBlack{
        font-size: 12px;
    }
    .DelCardFontWhite{
        font-size: 12px;
    }
    .Header{
        margin-top: 0;
    }
}