.cont{
    
    /* border: 2px solid green; */
    height: 100vh;
    max-height: 900px;
    /* max-height: 1080px; */
    /* min-height: 1000px; */
    min-width: fit-content;


}

.inner{
    height: 100%;
    /* border: 2px solid red; */
    display: grid;
    min-width: fit-content;
    /* flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height:auto; */
}
.btnWrap{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.salBuff{
    margin-bottom: 10px;
}
