.Logo{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #242424;
}
.dot{
    text-decoration-line: none !important;
    color: #CD1315;
}
.footer{
    margin-top: 200px;
    background-color:#fcfcfc;
    height: 400px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_desc{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #242424;

}
@media (max-width: 769px){
    .footer{
        margin-top: 100px;
        height: 200px;
    }
}
@media screen and (max-width: 576px) {
    .footer{
        margin-top: 50px;
        /* height: 200px; */
    }
    .footer_desc{
        font-size: 12px;
    }
    .Logo{
        font-size: 26px;
    }
}